{% include 'partials/header.html' %}
        <section class="main">
            <div class="wrapper">
                <h1>{{ page.page_title}}</h1>
                <div class="teasers">
                    {{ page.content }}
                </div> <!-- /.teasers -->

                <aside class="widget archives">
                    <h2 class="widget__heading">Contact Me</h2>
                    <p>Email:{{page.email}}</p>
                    <p>G+:plus/google/akini</p>
                    <p>Facebook: facebook.com/akini</p>
                </aside>
            </div>
        </section>

{% include 'partials/footer.html' %}